@{
    ViewData["Title"] = "Bem-Vindo ao Studio Sintonia";
}

<div class="text-center"/>
    <h1>@ViewData["Title"]</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class=" btn btn-primary" role="button" asp-controller="Usuario" asp-action="CadastrarUsuario">Criar Conta</a>
    </div>
